body {
  font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 1600px;
  height: 92px;
  background-color: #1A0B2E;
  border: 1px solid rgba(148, 0, 211, 0.626);
}

.logo {
  max-width: 220px;
  max-height: auto;
}

.nav-item {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    25deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#hero-bg {
  width: 1600px;
  height: 760px;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.circle-align {
  position: relative;
  top: 101px;
  left: 625px;
}

.child-b {
  position: absolute;
  top: 12px;
  left: 252px;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
}

.child-c {
  position: absolute;
  top: 77px;
  left: 116px;
}

.hero-title {
  padding-top: 30px;
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 800;
}

.hero-text {
  max-width: 600px;
  margin: 0px auto 24px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 80%;
}

.btn-c{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-s{
  background: none;
  color: #00FF88;
  border:#00FF88 solid 2px;
}
.bg-b{
  width: 1600px;
  background-color: #1A0B2E;
}
.podcast-s{
  width: 900px;
  margin: 0 auto;
  color: #FFFFFF;

}
.title{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.podcast-s p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}
div hr{
  border: none;
  border: 1px solid rgba(128, 0, 128, 0.386);
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
.p-flex{
  width: 1200px;
  display:flex;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-evenly;
  padding-top:80px;
  padding-bottom: 120px;
  
  
}
.pr-h{
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
}
.pr-p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
.c-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 200px 120px 200px;
}
.card{
  padding: 30px;
  border-radius: 20px;
  background-color: #35116536;
}
.headphone{
  grid-column: span 1;
 grid-row: span 2;
 padding: 107px 40px;
}
.device{
  grid-column: span 2;
  grid-row: span 1;
}
.location{
  grid-column: span 2;
  grid-row:  span 1;
}
.zap-fast{
  grid-column: span 2;
  grid-row: span 1;
}
.cs{
  width: 1600px;
  background-color: #230E3D;
}
.cs-h{
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.cs-p{
  font-size:16px;
  font-weight: 400;
  opacity: 60%;
  color: #FFFFFF;
}
.bgc{
  width: 1600px;
  background-color: #1A0B2E;

}
.vtc{
  background-color: #250D44;
  border-radius: 15px;
  
}
.vtc-title{
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.vtc-p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 60%;
  padding: 12px 24px 12px 24px;
}
.lim{
  display:flex; 
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #00FF88;
  padding: 24px;
}
.lim img{
  width: 17px;
  height: 17px;
}