body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header{
    max-width: 1600px;
    max-height: 760px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    align-items: center;
    max-width: auto;
    height: 92px;
    border: 1px solid rgba(148, 0, 211, 0.626);
}
.logo{
    max-width: 220px;
    max-height: 32px;
    
    
}
.nav-item{
    display: flex;
    gap:35px;
    font-size:16px;
    font-weight: 500;
    list-style: none;
}
.nav-item a{
  text-decoration: none;
  color: #FFFFFF;

}
.btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 12px 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    25deg,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%
  );
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
#hero-bg {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    width: auto;
    height: 760px;
}
.circle-align{
  position: relative;
  top: 100px;
  left:617px;
}
.child-b{
  position: absolute;
  top: 12px;
  left: 252px;
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #00FF88;
}
.child-c{
  position: absolute;
  top: 77px;
  left: 116px;

}
.header{
  font-size: 60px;
  font-weight: 800;
  color: #FFFFFF;
}

