*{
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 1600px;
  height: 92px;
  background-color: #1A0B2E;
  border: 1px solid rgba(148, 0, 211, 0.626);
}

.logo {
  max-width: 220px;
  max-height: auto;
}

.nav-item {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    25deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#hero-bg {
  width: 1600px;
  height: 760px;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.circle-align {
  position: relative;
  top: 101px;
  left: 625px;
}

.child-b {
  position: absolute;
  top: 12px;
  left: 252px;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
}

.child-c {
  position: absolute;
  top: 77px;
  left: 116px;
}

.hero-title {
  padding-top: 30px;
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 800;
}

.hero-text {
  max-width: 600px;
  margin: 0px auto 24px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 80%;
}

.btn-c{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-s{
  background: none;
  color: #00FF88;
  border:#00FF88 solid 2px;
}
.bg-b{
  background-color: #1A0B2E;
}
.podcast-s{
  width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  color: #FFFFFF;

}
.podcast-s h1{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.podcast-s p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
}
div hr{
  border: none;
  border: 1px solid rgba(128, 0, 128, 0.386);
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
.p-flex{
  width: 1200px;
  display:flex;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-evenly;
  padding-top:80px;
  
  
}
.pr-h{
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
}
.pr-p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
   